# Environment Variables
.env

# Python Bytecode
__pycache__/
*.py[cod]

# Python Build Artifacts
*.egg-info/
*.egg
dist/
build/
*.whl

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Virtual Environments
.env/
.venv/
env/
venv/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Audio Files
*.wav
*.mp3
*.opus
*.flac
*.aac

# Dependency Files/Folders
GPT_SoVITS/