include README.md
include LICENSE
include pyproject.toml

prune venv
prune examples
prune tests
prune build
prune dist
prune GPT_SoVITS
prune .git

# Use global-exclude for file patterns
global-exclude *.egg-info
global-exclude __pycache__
global-exclude *.pyc